<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rate Analysis Application Test Automation Test Suite">

	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
	<parameters>
	QA
	BROSWER
	</parameters>>
	
	


	<test name="Rate Analysis Test Cases">
		<classes>
			<class name="TESTCASES.LoginTest"></class>
			

		</classes>
	</test>
</suite>