<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Load Pay Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.lp.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Load Pay Test Cases">
		<classes>
			<class name="com.lp.qa.testcases.CarrierLoginTest"></class>
			

		</classes>
	</test>
</suite>